.shop_list {
	display: grid;
	gap: 0.5rem;
	justify-content: center;
}

.scroll {
	margin-top: 10px;
	margin-left: 1rem;
	margin-right: 1rem;
}

ul {
	list-style: none;
	padding-left: 0px;
}

.cards {
	cursor: pointer;
	z-index: 0;
}

@media (min-width: 400px) {
	.shop_list {
		grid-template-columns: repeat(1, 1fr);
	}

	.cards {
		max-width: 100%;
	}
}

@media (min-width: 600px) {
	.shop_list {
		grid-template-columns: repeat(2, 1fr);
	}

	.cards {
		max-width: 100%;
	}
}

@media (min-width: 900px) {
	.shop_list {
		grid-template-columns: repeat(3, 1fr);
	}

	.cards {
		max-width: 100%;
	}
}

@media (min-width: 1100px) {
	.shop_list {
		grid-template-columns: repeat(4, 1fr);
	}

	.cards {
		max-width: 100%;
	}
}

.shops {
	margin: 5px;
	padding: 1rem;
}
