.search {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 5px;
}

.title {
	cursor: pointer;
}

.head {
	background-color: #344e41;
	color: #dad7cd;
	height: 20vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
