.container {
	display: flex;
	flex-direction: column;
}

.allcontain {
	margin-left: 1rem;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	max-width: 30rem;
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.allcontain h1 {
	margin: 0.5rem;
}

/* Used when the language ProgressBar is present*/

.allcontain h3 {
	margin: 1rem;
	line-height: 1rem;
}

.projectData {
	margin: auto;
	margin-top: 0.5rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.projectData h3 {
	margin: 0.5rem;
}

.allcontain span:hover {
	cursor: pointer;
	text-decoration: underline;
}

.desc_container {
	margin-left: 1rem;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	padding: 0rem 2rem 2rem 2rem;
	max-width: 30rem;
	width: 80%;
	margin: auto;
	margin-top: 1rem;
	display: flex;
	gap: 0.75rem;
	flex-direction: row;
}

.tags {
	margin-left: 1rem;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	padding: 0rem 2rem 0rem 2rem;
	max-width: 30rem;
	width: 80%;
	margin: auto;
	margin-top: 1rem;
	display: flex;
	gap: 0.75rem;
	flex-direction: row;
	flex-wrap: wrap;
}

.tagList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tagItem {
	margin: 0.25rem;
}

.allcontain img {
	max-width: 200px;
	max-height: 200px;
}

.scroll {
	margin: 1rem auto;
}

body::-webkit-scrollbar {
	display: none;
}

.badge:hover {
	cursor: pointer;
}
