.container {
	display: flex;
	flex-direction: column;
}

.allcontain {
	margin-left: 1rem;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	/* border-radius: 6px; */
	/* background-color: #2b2b2b; */
	/* padding: 2rem; */
	max-width: 30rem;
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.allcontain h1 {
	margin: 0;
}

.allcontain h3 {
	margin: 0;
}

.allcontain h3:hover {
	cursor: pointer;
	text-decoration: underline;
}

.desc_container {
	margin-left: 1rem;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	padding: 0rem 2rem 2rem 2rem;
	max-width: 30rem;
	width: 80%;
	margin: auto;
	margin-top: 1rem;
	display: flex;
	gap: 0.75rem;
	flex-direction: row;
}

.allcontain img {
	max-width: 200px;
	max-height: 200px;
}

.scroll {
	margin: 2rem auto;
}

body::-webkit-scrollbar {
	display: none;
}
