.article_image {
	height: 150px;
	width: 238px;
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	transition: 0.4s ease-in-out;
}

.ar_image:hover .article_image {
	-webkit-filter: grayscale(20%) blur(15px);
	filter: grayscale(60%) blur(15px);
	transition: 0.4s ease-in-out;
}

.ar_image {
	position: relative;
}

.ar_image > p {
	display: none;
	padding: 0;
	margin: 0;
}

.ar_image:hover > p {
	position: absolute;
	top: 50%;
	right: 1%;
	display: block;
	color: #ffffff;
	font-size: 36px;
	font-weight: bold;
	z-index: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: 0.4s ease-in-out;
	/* -webkit-transition: 1s 3s; */
	line-height: 0px;
	margin: 0;
}
